// Changing to brand colours
$body-bg: #DAD7CD;
$primary: #344E41;
$secondary: #A3B18A;
$info: #588157;

h2 {
    font-size: 36px !important;
}

.form-label {
    font-size: 22px !important;
}

.card {
    border-radius: 1rem !important;
}

.card-img-top {
    object-fit: cover !important;
    width: '50%' !important;
}

.nav-link {
    color: black !important;
    font-size: 24px !important;
}

.container {
    overflow-y: auto !important;
}

a {
    color: black !important;
}

a:hover {
    color: $secondary !important;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";