// Changing to brand colours
$body-bg: #DAD7CD;
$primary: #344E41;
$secondary: #A3B18A;
$info: #588157;

h2 {
    font-size: 36px !important;
}

.form-label {
    font-size: 22px !important;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";